@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Oxygen:wght@300;400;700&display=swap');
.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: rgba(0, 0, 0, 0.952);
    margin: 0;
    font-family: 'Bakbak One', cursive;
}

h3 {
    text-align: center;
    font-size: 4rem;
    margin: 0;
    color: rgb(255, 255, 255);
}

#btn {
    background: rgb(231, 111, 111);
    width: 30vh;
    height: 5vh;
    margin: 50px auto;
    color: rgb(0, 0, 0);
    padding: .3rem;
    font-size: 1rem;
    border-radius: 1rem;
    line-height: 35px;
    color: rgb(221, 173, 39);
    font-size: 1.4rem;
    line-height: 45px;
    font-weight: 700;
    
}

#btn:hover {
    outline: 1px solid rgb(201, 201, 201);
    transition: 0.3s linear;
}

:root {
    --width: 40px;
    --line: var(--width);
    --opacity: 1;
    --tileCount: 0;
}

a {
    text-align: center;
    color: white;
    display: block;
    margin: 1rem 0;
    text-decoration: none;
}

i {
    color: rgb(255, 0, 0);
    margin-inline: 1rem;
}
i:hover{
    transform: scale(1.2);
    transition: 0.2s ease;

}
i:active{
    color: rgb(131, 17, 93);
    transition: 0.2s ease;
   
}

form {
    top: -100%;
    left: 25%;
    color: wheat;
    position: absolute;
    width: 50%;
    background: rgba(255, 255, 255, 0.44);
    backdrop-filter: blur(10px);
    text-align: center;
}
form input{
    background:rgb(233, 233, 233);
    border-radius: 5px;
    border: none;
    padding: .3rem;
    font-size: 2rem;
    outline: none;
    
}
form.active {
    color: rgb(231, 111, 111);
    position: absolute;
    width: 50%;
    height: 80vh;
    background: rgba(205, 205, 205, 0.18);
    backdrop-filter: blur(10px);
    top: 0%;
    left: 25%;
    text-align: center;
    transition: all ease-in-out;
    transition-duration: .7s;
    border-radius: .4rem;
    outline: solid rgb(0, 0, 0) 1px;
    margin-top: 3rem;
}

form.active .inner {
    padding: 1rem;
}

.inner .apply {
    margin: 1rem auto;
    display: block;
}

.inner .reset {
    margin: 0 auto;
    display: block;
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    width: calc(var(--tileCount)*40px);
    height: calc(var(--tileCount)*40px);
    flex-wrap: wrap;
    padding: 0rem 0;
    margin: 20px 0 10% 0;
}

#game .tile {
    background: rgb(69, 84, 219);
    width: var(--width);
    aspect-ratio: 1;
    font-size: 2rem;
    line-height: var(--line);
    text-align: center;
    color: rgb(255, 255, 255);
    opacity: var(--opacity);
    transition: opacity 0.3s ease-in;
    outline: 1px solid rgb(0, 0, 0);
}

.tile:hover {
    box-shadow: 0 0 20px rgb(41, 41, 41);
    transform: scale(1.18);
    transition: scale 0.4s linear;
}


/* WINNING SCREEN */

.winner {
    width: 100%;
    background: cornflowerblue;
    height: 20vh;
    top: -100%;
    position: absolute;
    text-align: center;
    font-size: 2rem;
}

.winner_active {
    width: 100%;
    background: rgba(100, 148, 237, 0.048);
    backdrop-filter: blur(5px);
    height: 100vh;
    top: 0%;
    position: absolute;
    text-align: center;
    font-size: 2rem;
    transition: 0.5s ease-in-out;
    color: wheat;
}
.winner h2{
    margin:10rem;
}
footer h3{
    font-weight: 100;
    font-size: 1rem;
    color: burlywood;
}
h3 i{
    margin-top: 1rem;
    color:rgb(44, 95, 235);
    
}